kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  # Control Plane (The "Manager")
  - role: control-plane
    kubeadmConfigPatches:
      - |
        kind: InitConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            node-labels: "ingress-ready=true"
    extraPortMappings:
      - containerPort: 80
        hostPort: 80
        protocol: TCP
      - containerPort: 443
        hostPort: 443
        protocol: TCP

  # Worker Node (Where backend will run)
  - role: worker

  # Worker Node (Where frontend will run)
  - role: worker