apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      initContainers:
        - name: wait-for-db
          image: busybox:1.28
          command: ['sh', '-c', "until nc -z opschat-db 5432; do echo waiting for db; sleep 2; done;"]

      containers:
        - name: backend
          image: opschat-backend:v1
          imagePullPolicy: Never
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
            - name: DATABASE_URL
              value: "postgresql://postgres:password@opschat-db:5432/opschat"
            - name: REDIS_HOST
              value: "opschat-redis"
            - name: REDIS_PORT
              value: "6379"
            - name: JWT_SECRET
              value: "supersecretkey123"
            

            - name: GROQ_API_KEY
              valueFrom:             
                secretKeyRef:         
                  name: opschat-secrets
                  key: GROQ_API_KEY

---
apiVersion: v1
kind: Service
metadata:
  name: opschat-api
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000